
 
.viewport-box{
	width: 10rem;
	height: 100vh;
	margin: 0 auto;
	position: relative;

	
} 
.viewport-box div:nth-child(1){
	
	width: 100%;
	height: 1.8rem;
}
.centre-box{
	width: 100%;
	height:2.4rem;
	
}
.centre-box  div:first-child{
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 auto;
}
.centre-box div img{
	width: 1.2rem;
	height: 1.2rem;
}
.centre-box  div:last-child{
	font-size: .36rem;
	 color: rgba(0,0,0,0.6);
	width: 4.8rem;
	height: 1.2rem;
	line-height: 1.2rem;
	margin: 0 auto;
}
.viewport-box div:nth-child(3){
	
	height: 1.2rem;
	
	margin-top: 0.8rem;
	line-height: 1.2rem;
	color: rgba(0,0,0,1);
	font-size:.6rem;
	font-weight: 600;
	margin-left: 0.9rem;
}
.viewport-box div:nth-child(4){
	width: 100%;
	height: 1.2rem;
	margin-top: 0.4rem;
	line-height: 1.2rem;
	margin-left: 0.9rem;
}
.viewport-box div:nth-child(4) div:first-child{
	width: 8.2rem;
	height: 1.5rem;
	background: rgba(240,240,240,1);
	border-radius: 0.920139rem;
}
.viewport-box  div:nth-child(4) div:first-child input{
	color: currentColor;
	font-size: .38rem;
	border: 0;
	background-color: transparent;
	height: 1.5rem;
	margin-left: 0.3rem;
	
}
.viewport-box  div:nth-child(4) div:first-child span{
	margin-left: 1.2rem;
	font-size:.4rem;
	font-weight: 600;
}
.viewport-box  div:nth-child(4) div:nth-child(2){
	height: .1rem;
	line-height: .1rem;
	margin-left: 0.5rem;
	margin-top: .19rem;
	color: red;
	display: none;
	
}
.viewport-box  div:nth-child(4) div:nth-child(3){
	width: 8.2rem;
	height: 1.5rem;
	background: rgba(240,240,240,1);
	border-radius: 0.920139rem;
	margin-top: 0.3rem;
	margin-left: -0.1rem;
}
.viewport-box  div:nth-child(4) div:nth-child(3) input{
	color: currentColor;
	font-size: .38rem;
	border: 0;
	background-color: transparent;
	height: 1.5rem;
	
	margin-left: 0.4rem;
	
}
.viewport-box  div:nth-child(4) div:nth-child(4){
	height: .1rem;
	line-height: .1rem;
	margin-left: 0.5rem;
	color: red;
	display: none;
	
	
}
.viewport-box  div:nth-child(4) div:nth-child(5){
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	margin-top: -0.5rem;
}
.viewport-box  div:nth-child(4) div:nth-child(5) input{
	
	width: 0.4rem;
	height: 0.4rem;
	background-color: transparent;
	border-radius: 0.920139rem;
	border: 0;
	position: absolute;
	top: 10.9rem;
	left: 1.4rem;

}
.viewport-box  div:nth-child(4) div:nth-child(5) span{
	position: absolute;
	top: 10.5rem;
	left:2rem;
	color: rgba(0,0,0,0.6);
	font-size:.28rem;
}
.viewport-box  div:nth-child(4) div:nth-child(5) span a{
	color: #0B84FF;
}
.viewport-box  div:nth-child(4) div:nth-child(6){
	position: absolute;
	top: 11.5rem;
	left: 0.9rem;
	width: 8.2rem;
	height: 1.2rem;
	
}
.viewport-box  div:nth-child(4) div:nth-child(6) button{
	
	width: 8.2rem;
	height: 1.2rem;
    border-radius: 1.215278rem;
	
	font-size: 0.475rem;
	font-weight: 800;
	background-color: #0B84FF;
	color: #fff;
	border: 0;
}
.viewport-box  div:nth-child(4) div:nth-child(7){
	
	position: absolute;
	top: 13.9rem;
	left: 0.9rem;
	color: #0B84FF;
}
a{
	/* color: #0B84FF; */
}
.viewport-box  div:nth-child(4) div:nth-child(8){
	width: 100%;
	position: absolute;
	top: 16rem;
	left: 3.3rem;
	color: rgba(0, 0, 0, 0.5)!important;
}

.clause{
	width: 3.2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.30rem;
	background: rgba(240,240,240,1);
	position: absolute;
	top: 15.3rem;
	left: 3.1rem;
	color: rgba(0, 0, 0, 0.5)!important;
	border-radius: 0.320139rem;
	text-align: center;
	display: none;
	
}

.clause span{
	
	line-height: 0.8rem;
	font-size: 0.30rem;
	
}








